# Datenbankzugangsdaten
DB_USER=postgres
DB_HOST=localhost
DB_NAME=civil_wars_test
DB_PASSWORD=dein_passwort
DB_PORT=5432

# Serverport
PORT=3000

# JWT
JWT_SECRET=change_this_to_a_long_random_secret_before_production
JWT_EXPIRES_IN=7d
